ul {
    display: block;
}

li {
    display: inline-block;
}

li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
}

.left, .right {
    display: inline-block;
}

.right {
    float: right;
}

.clear-fix {
    clear: both;
}