@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: $color-grey;
    border-bottom: 1px solid $color-grey;
    display: block;
    width: 500px;
    padding: 10px 0px;
}

h3, h4 {
    font-weight: 400;
    color: #fff;
    font-size: 20px;
}

p {
    font-weight: 300;
    color: $color-grey;
}

.container {
    max-width: 1000px;
    margin: auto;
}