<h2>Latest News</h2>
<div class="news-container">
  <div class="news-items">
    <div class="title">Things are not looking good for Tesla</div>
    <img src="../../../../assets/images/news/1.jpg"/>
    <p>For years, Tesla has been riding high on a combination of venture capital and good old fashioned borrowing, all while losing billions of dollars. But this week, as its stock nosedives and its credit gets downg…</p>
    <a>Read more</a>
  </div>

  <div class="news-items">
    <div class="title">What's the next modern classic</div>
    <img src="../../../../assets/images/news/2.jpg"/>
    <p>It’s been a somewhat bewildering week for cars I grew up admiring. First, an automatic (!!!) but super clean 1994 Toyota Supra Turbo seems poised to crack $70,000 when its Bring a Trailer auction ends tomo…</p>
    <a>Read more</a>
  </div>

  <div class="news-items">
    <div class="title">Why the 2019 Toyota Corolla</div>
    <img src="../../../../assets/images/news/3.jpg"/>
    <p>If you’d said a month ago that you had no reason to be excited about a Toyota Corolla, I’d understand. Not anymore. Not since we learned that the 2019 Corolla hatchback with a six-speed manual was coming. H…</p>
    <a>Read more</a>
  </div>
</div>
<div class="clear-fix"></div>