.nav {
    display: inline-block;
}

.navigation-logo {
    width: 170px;
}

.navigation-searchbar {
    float: right;
    margin-top: 5px;
    padding: 3px 15px;
    font-size: 15px;
}

.clear-both {
    clear: both;
}