.fourofour {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('https://s-media-cache-ak0.pinimg.com/originals/2b/d0/38/2bd038cd7d7a6a3b9b19d8f3e556489d.jpg') no-repeat center center fixed;
    background-size: cover;
}