<a class="top">Back to top</a>

<div class="social-links">
  <a><img src="../../../../assets/images/icons/Twitter.svg"/></a>
  <a><img src="../../../../assets/images/icons/Facebook.svg"/></a>
  <a><img src="../../../../assets/images/icons/Instagram.svg"/></a>
</div>
<div class="clear-fix"></div>

<div class="quick-links">
  <div class="quick-items">
    <ul>
      <li class="heading">Discover</li>
      <li><a routerLink="home">Homepage</a></li>
      <li><a routerLink="showroom">Showroom</a></li>
      <li><a routerLink="auctions">Auctions</a></li>
    </ul>
  </div>

  <div class="quick-items">
    <ul>
      <li class="heading">Know us</li>
      <li><a routerLink="news">News</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>

  <div class="quick-items">
    <ul>
      <li>Login</li>
      <li>Register</li>
      <li>Recover</li>
    </ul>
  </div>
</div>

<p class="copy">2018 Copyrights GTImports, Artevelde Hogeschool | <a routerLink="terms-and-conditions" class="terms">Terms & Conditions</a></p>
