<div>
  <h2>{{ auctions.data.title }}</h2>
  <div class="auction-detail-left">
    <img src="../../../../assets/images/popular/1.jpg"/>
  </div>
  <div class="auction-detail-right">
    <h2>About the car</h2>
    <p class="price">€ {{ auctions.data.price }}</p>
    <ul>
      <li>High quality fresh import</li>
      <li>Sought after Aerokit model</li>
      <li>Late model</li>
      <li>Rare active red</li>
      <li>NISMO suspension</li>
      <li>NISMO strut bar</li>
      <li>NISMO anti roll bars</li>
      <li>AV5 Alloys</li>
      <li>Low mileage</li>
    </ul>
    <p>Odometer</p>
    <p>Miles: 121 000</p>
    <p>Kilometres: 194 000</p>
  </div>
</div>
<div class="clear-fix"></div>