<h2>Popular Private GT Auctions</h2>
<div class="popular-container">
  <div class="popular-items">
    <img src="../../../../assets/images/popular/1.jpg"/>
    <div class="price">€00 000</div>
  </div>

  <div class="popular-items">
      <img src="../../../../assets/images/popular/2.jpg"/>
      <div class="price">€00 000</div>
    </div>

    <div class="popular-items">
        <img src="../../../../assets/images/popular/3.jpg"/>
        <div class="price">€00 000</div>
      </div>
</div>
<div class="clear-fix"></div>